### Visual Studio ###

# common
*.suo
*.user
*.sln.docstates
.vs/
**/packages/

# build results
[Bb]in/
[Ob]bj/
[Dd]ebug/
[Rr]elease/

# Roslyn cache directories
*.ide/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# dnx lock.json
project.lock.json
*Tests/config.local.json

